[project]
name = "magical-athlete-simulator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14.2"
dependencies = ["rich>=14.2.0"]

[dependency-groups]
dev = ["pytest>=9.0.2"]

[tool.ruff.lint]
select = ["ALL"]
ignore = ["D", "ANN", "PLR", "E501", "G004", "TRY003", "EM101", "S311"]

[tool.ruff]
exclude = ["tests"]

[tool.basedpyright]
reportImportCycles = "none"
reportAny = "none"
reportExplicitAny = "none"
reportUnusedCallResult = "none"
